<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'lots')}">
<head>
    <meta charset="UTF-8">
    <title>Lots</title>
</head>
<body>
<!--/*@thymesVar id="lot" type="com.demo.auctionhouse.model.Lot"*/-->
<h2 th:text="'List of Lots'">Lots list</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">Item name</th>
        <th style="width: 150px;">Item type</th>
        <th style="width: 150px;">Original price</th>
        <th style="width: 150px;">Bid price</th>
        <th style="width: 150px;">Expire Date</th>
        <th style="width: 150px;">Seller</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lot : ${lots}">
        <td th:text="${lot?.id}">1</td>
        <td th:text="${lot?.item?.name}">item name</td>
        <td th:text="${lot?.item?.type}">item type</td>
        <td th:text="${lot?.originPrice}">10000.0</td>
        <td th:text="${lot?.bidPrice}">10000.0</td>
        <td th:text="${lot?.expireDate}">01.01.2022</td>
        <td th:text="${lot?.seller?.name}">Chuck</td>
    </tr>
    </tbody>
</table>
</body>
</html>