<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'items')}">
<head>
    <meta charset="UTF-8">
    <title>Items Index</title>
</head>
<body>
<h2 th:text="'Items Index Page'">Items Index page</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Type</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item: ${items}">
        <td th:text="${item?.getName()}">Name</td>
        <td th:text="${item?.getType()?.getType()}">Type</td>
    </tr>
    </tbody>
</table>
</body>
</html>