<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items Index</title>
</head>
<body>
<h1 th:text="'Items Index Page'">Items Index page</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item: ${items}">
        <td th:text="${item?.getName()}">Name</td>
        <td th:text="${item?.getType()?.getType()}">Type</td>
    </tr>
    </tbody>
</table>
</body>
</html>