<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'lots')}">
<head>
  <meta charset="UTF-8">
  <title>Lots</title>
</head>
<body>
<h2 th:text="'Lots'">Lots</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 150px;">Item name</th>
    <th style="width: 150px;">Seller Name</th>
    <th style="width: 150px;">Best Bid Name</th>
    <th style="width: 150px;">Expire Date/Time</th>
    <th style="width: 150px;">Origin Price</th>
    <th style="width: 150px;">Bid Price</th>
    <th style="width: 150px;">Status</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="lot: ${lots}">
    <td th:text="${lot?.getItem()?.getName()}">Item Name</td>
    <td th:text="${lot?.getSeller()?.getName()}">Seller Name</td>
    <td th:text="${lot?.getBestBidUser()?.getName()}">Best Bid Name</td>
    <td th:text="${lot?.getDetail()?.getExpireDateTime()}">Expire Date/Time</td>
    <td th:text="${lot?.getDetail()?.getInitialPrice()}">Origin Price</td>
    <td th:text="${lot?.getDetail()?.getBidPrice()}">Bid Price</td>
    <td th:text="${lot?.getDetail()?.getStatus()?.getStatus()}">Status</td>
  </tr>
  </tbody>
</table>
</body>
</html>